{{#foreach navigation}}
  <li class="md-nav__item{{#if current}} md-nav__item--active{{/if}}">
    <a href="{{url absolute="true"}}" class="md-nav__link{{#if current}} md-nav__link--active{{/if}}">
      <span class="md-ellipsis">
        {{label}}
      </span>
    </a>
  </li>
{{/foreach}}
