{{!< default}}

{{#contentFor "extraHead"}}
<style>
  .md-typeset .kg-card.kg-embed-card {
    aspect-ratio: 16 / 9;
  }
  .md-typeset .kg-card.kg-embed-card > iframe {
    height: 100%;
    width: 100%;
  }
</style>
{{/contentFor}}

{{#post}}
<div class="md-main__inner md-grid">
  {{> "components/post-sidebar"}}
  
  <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc">
    <div class="md-sidebar__scrollwrap">
      <div class="md-sidebar__inner">
        <!-- empty -->
      </div>
    </div>
  </div>

  <div class="md-content" data-md-component="content">
    <article class="md-content__inner md-typeset">
      <header class="md-post__header">
        {{#if excerpt}}
          <div class="md-tags">
            <span class="md-tag">{{excerpt}}</span>
          </div>
        {{/if}}
        <h1 class="md-post__title">{{title}}</h1>
      </header>
      <section class="md-post__content gh-content gh-canvas">
        {{content}}
      </section>
      {{> "components/comments"}}
    </article>
  </div>
</div>
{{/post}}
