{{!< default}}

{{#contentFor "extraHead"}}
<style>
  .md-typeset .kg-card.kg-embed-card {
    aspect-ratio: 16 / 9;
  }
  .md-typeset .kg-card.kg-embed-card > iframe {
    height: 100%;
    width: 100%;
  }
</style>
{{/contentFor}}

{{#contentFor "navPrimaryHome"}}
  <li class="md-nav__item md-nav__item--active md-nav__item--section md-nav__item--nested">
    <input class="md-nav__toggle md-toggle " type="checkbox" id="__nav_1" checked="">
    <label class="md-nav__link" for="__nav_1" id="__nav_1_label" tabindex="">
      <span class="md-ellipsis">
        Home
      </span>
      <span class="md-nav__icon md-icon"></span>
    </label>
    <nav class="md-nav" data-md-level="1" aria-labelledby="__nav_1_label" aria-expanded="true">
      <label class="md-nav__title" for="__nav_1">
        <span class="md-nav__icon md-icon"></span>
        Navigation
      </label>
      <ul class="md-nav__list">
        {{navigation type="secondary"}}
      </ul>
    </nav>
  </li>
{{/contentFor}}

{{#post}}
  {{> "components/post-sidebar"}}
  <div class="md-content" data-md-component="content">
    <article class="md-content__inner md-typeset">
      <header class="md-post__header">
        {{#if excerpt}}
          <div class="md-tags">
            <span class="md-tag">{{excerpt}}</span>
          </div>
        {{/if}}
        <h1 class="md-post__title">{{title}}</h1>
      </header>
      <section class="md-post__content gh-content gh-canvas">
        {{content}}
      </section>
      {{> "components/comments"}}
    </article>
  </div>
{{/post}}
