{{!< default}}

{{#contentFor "extraHead"}}
  <link rel="stylesheet" href="{{asset "stylesheets/home.css"}}">
{{/contentFor}}

{{#contentFor "beforeContent"}}
<section class="mdx-container">
  <div class="md-grid md-typeset">
    <div class="mdx-hero">
      <div class="mdx-hero__content">
        <h1>The collaborative privacy advocacy community.</h1>
        <p>Privacy Guides is a not-for-profit, volunteer-run project that hosts online communities and publishes news and recommendations surrounding privacy and security tools, services, and knowledge.</p>
        <a href="https://www.privacyguides.org/en/basics/why-privacy-matters/" title="Why Privacy Matters" class="md-button md-button--primary">
          Start Your Privacy Journey
        </a>
        <a href="https://www.privacyguides.org/en/tools/" title="Recommended Tools" class="md-button">
          Recommended Tools
        </a>
      </div>
    </div>
  </div>
</section>
{{/contentFor}}

{{> "components/home-why-care"}}
{{> "components/home-video-spotlight"}}
  
