{{!< default}}

{{#contentFor "extraHead"}}
  <link rel="stylesheet" href="{{asset "stylesheets/home.css"}}">
  <link rel="alternate" href="https://www.privacyguides.org/" hreflang="x-default">
  <link rel="alternate" href="https://www.privacyguides.org/en/" hreflang="en">
  <link rel="alternate" href="https://www.privacyguides.org/es/" hreflang="es">
  <link rel="alternate" href="https://www.privacyguides.org/fr/" hreflang="fr">
  <link rel="alternate" href="https://www.privacyguides.org/he/" hreflang="he">
  <link rel="alternate" href="https://www.privacyguides.org/it/" hreflang="it">
  <link rel="alternate" href="https://www.privacyguides.org/nl/" hreflang="nl">
  <link rel="alternate" href="https://www.privacyguides.org/zh-Hant/" hreflang="zh-Hant">
  <link rel="alternate" href="https://www.privacyguides.org/ru/" hreflang="ru">
{{/contentFor}}

{{#contentFor "beforeContent"}}
<section class="mdx-container">
  <div class="md-grid md-typeset">
    <div class="mdx-hero">
      <div class="mdx-hero__content">
        <h1>Privacy Guides</h1>
        <p>Privacy Guides is a comprehensive, non-profit resource for understanding and improving your online privacy.</p>
        {{> "components/alternate" ulClass="mdx-hero__buttons" linkClass="md-button md-button--primary" }}
      </div>
    </div>
  </div>
</section>
{{/contentFor}}

{{> "components/nav-sidebar"}}

{{> "components/home-video-spotlight"}}
{{> "components/home-why-care"}}
{{> "components/home-connect"}}
  
