{{!< default}}

{{#contentFor "extraHead"}}
  <link rel="stylesheet" href="{{asset "stylesheets/home.css"}}">
{{/contentFor}}

{{#contentFor "beforeContent"}}
<section class="mdx-container">
  <div class="md-grid md-typeset">
    <div class="mdx-hero">
      <div class="mdx-hero__content">
        <h1>The collaborative privacy advocacy community.</h1>
        <p>Privacy Guides is a not-for-profit, volunteer-run project that hosts online communities and publishes news and recommendations surrounding privacy and security tools, services, and knowledge.</p>
        <a href="https://www.privacyguides.org/en/basics/why-privacy-matters/" title="Why Privacy Matters" class="md-button md-button--primary">
          Start Your Privacy Journey
        </a>
        <a href="https://www.privacyguides.org/en/tools/" title="Recommended Tools" class="md-button">
          Recommended Tools
        </a>
      </div>
    </div>
  </div>
</section>
{{/contentFor}}

<div class="md-main__inner md-grid">

  <div class="md-content" data-md-component="content">
    <div class="md-content__inner">
      <header class="md-typeset">
        <h1 class="gh-pagehead-title">Latest
        </h1>
      </header>

      {{#get "tags" filter="slug:livestreams"}}
        {{#foreach tags}}
          {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit="3"}}
              {{#foreach posts}}
                {{> "components/post"}}
              {{/foreach}}
          {{/get}}
        {{/foreach}}
      {{/get}}

    </div>
  </div>
  
  <script>var tabs=__md_get("__tabs");if(Array.isArray(tabs))e:for(var set of document.querySelectorAll(".tabbed-set")){var labels=set.querySelector(".tabbed-labels");for(var tab of tabs)for(var label of labels.getElementsByTagName("label"))if(label.innerText.trim()===tab){var input=document.getElementById(label.htmlFor);input.checked=!0;continue e}}</script>
  <script>var target=document.getElementById(location.hash.slice(1));target&&target.name&&(target.checked=target.name.startsWith("__tabbed_"))</script>
</div>
