{{!< default}}

{{#contentFor "extraHead"}}
  <link rel="stylesheet" href="{{asset "stylesheets/home.css"}}">
{{/contentFor}}

{{#contentFor "beforeContent"}}
<section class="mdx-container">
  <div class="md-grid md-typeset">
    <div class="mdx-hero">
      <div class="mdx-hero__content">
        <h1>Privacy Guides</h1>
        <p>Privacy Guides is a comprehensive, non-profit resource for understanding and improving your online privacy.</p>
        <a href="https://www.privacyguides.org/en/" hreflang="en" class="md-button md-button--primary">
          <img alt="en" class="twemoji" src="https://www.privacyguides.org/en/assets/external/raw.githubusercontent.com/twitter/twemoji/master/assets/svg/1f1fa-1f1f8.svg" width="20" height="20">
          English
        </a>
        <a href="https://www.privacyguides.org/es/" hreflang="es" class="md-button md-button--primary">
          <img alt="es" class="twemoji" src="https://www.privacyguides.org/en/assets/external/raw.githubusercontent.com/twitter/twemoji/master/assets/svg/1f1ea-1f1f8.svg" width="20" height="20">
          Español
        </a>
        <a href="https://www.privacyguides.org/fr/" hreflang="fr" class="md-button md-button--primary">
          <img alt="fr" class="twemoji" src="https://www.privacyguides.org/en/assets/external/raw.githubusercontent.com/twitter/twemoji/master/assets/svg/1f1eb-1f1f7.svg" width="20" height="20">
          Français
        </a>
        <a href="https://www.privacyguides.org/he/" hreflang="he" class="md-button md-button--primary">
          <img alt="he" class="twemoji" src="https://www.privacyguides.org/en/assets/external/raw.githubusercontent.com/twitter/twemoji/master/assets/svg/1f1ee-1f1f1.svg" width="20" height="20">
          עברית
        </a>
        <a href="https://www.privacyguides.org/it/" hreflang="it" class="md-button md-button--primary">
          <img alt="it" class="twemoji" src="https://www.privacyguides.org/en/assets/external/raw.githubusercontent.com/twitter/twemoji/master/assets/svg/1f1ee-1f1f9.svg" width="20" height="20">
          Italiano
        </a>
        <a href="https://www.privacyguides.org/nl/" hreflang="nl" class="md-button md-button--primary">
          <img alt="nl" class="twemoji" src="https://www.privacyguides.org/en/assets/external/raw.githubusercontent.com/twitter/twemoji/master/assets/svg/1f1f3-1f1f1.svg" width="20" height="20">
          Nederlands
        </a>
        <a href="https://www.privacyguides.org/ru/" hreflang="ru" class="md-button md-button--primary">
          <img alt="ru" class="twemoji" src="https://www.privacyguides.org/en/assets/external/raw.githubusercontent.com/twitter/twemoji/master/assets/svg/1f1f7-1f1fa.svg" width="20" height="20">
          Русский
        </a>
        <a href="https://www.privacyguides.org/zh-Hant/" hreflang="zh-Hant" class="md-button md-button--primary">
          <img alt="zh-Hant" class="twemoji" src="https://www.privacyguides.org/en/assets/external/raw.githubusercontent.com/twitter/twemoji/master/assets/svg/1f1ed-1f1f0.svg" width="20" height="20">
          繁體中文
        </a>
      </div>
    </div>
  </div>
</section>
{{/contentFor}}

{{> "components/home-video-spotlight"}}
{{> "components/home-why-care"}}
{{> "components/home-connect"}}
  
