{{!< default}}

<div class="md-main__inner md-grid">
  {{> "components/nav-sidebar"}}

  <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc">
    <div class="md-sidebar__scrollwrap">
      <div class="md-sidebar__inner">
        <nav class="md-nav md-nav--secondary">
          <label class="md-nav__title" for="__toc">
            <span class="md-nav__icon md-icon"></span>
            Table of contents
          </label>
          <ul class="md-nav__list" data-md-component="toc">
            {{#foreach posts}}
            <li class="md-nav__item">
              <a href="{{url}}" class="md-nav__link">
                <span class="md-ellipsis">
                  {{title}}
                </span>
              </a>
            </li>
            {{/foreach}}
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="md-content" data-md-component="content">
    <div class="md-content__inner">
      <header class="md-typeset">
        <h1 class="gh-pagehead-title">Latest in {{name}}</h1>
      </header>

      {{#foreach posts}}
          {{> "components/post"}}
      {{/foreach}}

      {{pagination}}

    </div>
  </div>
  
  <script>var tabs=__md_get("__tabs");if(Array.isArray(tabs))e:for(var set of document.querySelectorAll(".tabbed-set")){var labels=set.querySelector(".tabbed-labels");for(var tab of tabs)for(var label of labels.getElementsByTagName("label"))if(label.innerText.trim()===tab){var input=document.getElementById(label.htmlFor);input.checked=!0;continue e}}</script>
  <script>var target=document.getElementById(location.hash.slice(1));target&&target.name&&(target.checked=target.name.startsWith("__tabbed_"))</script>
</div>
