{{!< default}}

{{#page}}
<div class="md-main__inner md-grid">
  {{> "components/nav-sidebar"}}

  <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc">
    <div class="md-sidebar__scrollwrap">
      <div class="md-sidebar__inner">
        <!-- empty -->
      </div>
    </div>
  </div>

  <div class="md-content" data-md-component="content">
    <article class="md-content__inner md-typeset">
      {{> "components/post-header"}}
      <section class="md-post__content gh-content gh-canvas">
        <p>{{excerpt}}</p>
        {{> "components/donate-buttons"}}
        {{content}}
      </section>
    </article>
  </div>
</div>
{{/page}}
