{{!< default}}

{{#contentFor "navPrimaryClass"}}pg-hide-desktop{{/contentFor}}
{{#contentFor "navPrimaryHome"}}
  <li class="md-nav__item md-nav__item--active md-nav__item--section md-nav__item--nested">
    <input class="md-nav__toggle md-toggle " type="checkbox" id="__nav_1" checked="">
    <label class="md-nav__link" for="__nav_1" id="__nav_1_label" tabindex="">
      <span class="md-ellipsis">
        Home
      </span>
      <span class="md-nav__icon md-icon"></span>
    </label>
    <nav class="md-nav" data-md-level="1" aria-labelledby="__nav_1_label" aria-expanded="true">
      <label class="md-nav__title" for="__nav_1">
        <span class="md-nav__icon md-icon"></span>
        Navigation
      </label>
      <ul class="md-nav__list">
        {{navigation type="secondary"}}
      </ul>
    </nav>
  </li>
{{/contentFor}}

{{#contentFor "beforeContent"}}
  {{^is "paged"}}
    <section class="mdx-container">
      <section class="mdx-parallax__group">
        <div class="md-content md-grid" data-md-component="content">
          <div class="md-content__inner">
            <div class="mdx-spotlight">
              {{#foreach posts limit="1"}}
                {{> "components/spotlight-figure" action="Continue reading →"}}
              {{/foreach}}
            </div>
          </div>
        </div>
      </section>
    </section>
  {{/is}}
{{/contentFor}}

<div class="md-content" data-md-component="content">
  <div class="md-content__inner">
    {{#tag}}
    <header class="md-typeset">
      <h1 class="gh-pagehead-title">Latest Articles</h1>
      <p>{{description}}</p>
    </header>
    {{/tag}}

    <div class="md-typeset">
      <div class="grid">

        {{^is "paged"}}
          {{#foreach posts from="2"}}
            {{> "components/post" author="true"}}
          {{/foreach}}
        {{else}}
          {{#foreach posts}}
            {{> "components/post" author="true"}}
          {{/foreach}}
        {{/is}}

      </div>
    </div>

    {{pagination}}

  </div>
</div>
