#ghost-portal-root, #ghost-comments-root {
  color-scheme: light;
}

/* Generic Block Elements */
.md-typeset div.kg-card {
  margin: 1.6em 0;
}

.md-typeset figure.gh-card-image, .gh-card-image img {
  width: 100%;
}

/* Embedded Content */
.md-typeset figure.kg-card {
  text-align: left;
  width: auto;
  display: block;
}

.md-typeset figure.kg-card.kg-bookmark-card {
  max-width: 42em;
}

.md-typeset .kg-card.kg-embed-card {
  margin-left: 0;
  margin-right: 0;
}

.md-typeset .kg-width-wide, .md-typeset .kg-width-full {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.md-typeset .kg-bookmark-metadata {
  width: auto;
}

.md-typeset .kg-bookmark-metadata .kg-bookmark-icon {
  margin-right: 6px;
}

/* Upgrade/paywall CTA */
.md-typeset .gh-post-upgrade-cta small {
  color: #ffffff;
}
p:has(+ .gh-post-upgrade-cta) {
  -webkit-mask-image: linear-gradient(to bottom, var(--md-default-bg-color) 1%, transparent 100%);
  mask-image: linear-gradient(to bottom, var(--md-default-bg-color) 1%, transparent 100%);
  margin-bottom: 1.5em;
}
