<section class="mdx-parallax__group">
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner">
      <div class="mdx-spotlight">
        {{#get "tags" filter="slug:articles+visibility:public"}}
          {{#foreach tags}}
            {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit="1"}}
              {{#foreach posts}}
                {{> "components/spotlight-figure"
                    action="Continue reading →"
                }}
              {{/foreach}}
            {{/get}}
          {{/foreach}}
        {{/get}}
        {{#get "tags" filter="slug:videos+visibility:public"}}
          {{#foreach tags}}
            {{#get "posts" include="tags,authors" filter="tag:{{slug}}+visibility:public" limit="1"}}
              {{#foreach posts}}
                {{> "components/spotlight-figure"}}
              {{/foreach}}
            {{/get}}
          {{/foreach}}
        {{/get}}
        {{#get "tags" filter="slug:this-week-in-privacy+visibility:public"}}
          {{#foreach tags}}
            {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit="1"}}
              {{#foreach posts}}
                {{> "components/spotlight-figure" 
                    custom_title="This Week in Privacy 🔴 Live" 
                    custom_excerpt="We're live on YouTube Fridays at 4 PM CST / 21:00 UTC to talk about privacy news from around the industry, updates from our own team, and anything else you want to discuss." 
                    action="Watch the latest VOD →"
                }}
              {{/foreach}}
            {{/get}}
          {{/foreach}}
        {{/get}}
      </div>
    </div>
  </div>
</section>
