<section class="mdx-parallax__group" data-md-color-scheme="slate" data-md-color-primary="indigo">
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner">
      <header class="md-typeset">
        <h2>
          What are we about?
        </h2>
      </header>
      <div class="mdx-expect">
        <ul class="mdx-expect__list">
          <li class="mdx-expect__item md-typeset">
            <div class="mdx-expect__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.56 18H3.44C2.65 18 2 17.37 2 16.59V7.41C2 6.63 2.65 6 3.44 6h17.12c.79 0 1.44.63 1.44 1.41v9.18c0 .78-.65 1.41-1.44 1.41M6.81 15.19v-3.66l1.92 2.35 1.92-2.35v3.66h1.93V8.81h-1.93l-1.92 2.35-1.92-2.35H4.89v6.38zM19.69 12h-1.92V8.81h-1.92V12h-1.93l2.89 3.28z"></path></svg>
            </div>
            <div class="mdx-expect__description">
              <h2>Trustworthy Reviews</h2>
              <p>
                As a non-profit project, Privacy Guides has strict journalistic standards and policies to ensure
                our recommendations are free of conflicts of interest, and we do not partner with providers or
                affiliate programs that could sway our reviews and recommendations.
              </p>
            </div>
          </li>
          <li class="mdx-expect__item md-typeset">
            <div class="mdx-expect__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.56 18H3.44C2.65 18 2 17.37 2 16.59V7.41C2 6.63 2.65 6 3.44 6h17.12c.79 0 1.44.63 1.44 1.41v9.18c0 .78-.65 1.41-1.44 1.41M6.81 15.19v-3.66l1.92 2.35 1.92-2.35v3.66h1.93V8.81h-1.93l-1.92 2.35-1.92-2.35H4.89v6.38zM19.69 12h-1.92V8.81h-1.92V12h-1.93l2.89 3.28z"></path></svg>
            </div>
            <div class="mdx-expect__description">
              <h2>Community-Built</h2>
              <p>
                Privacy Guides has a dedicated community independently reviewing various privacy tools and services.
                Each of our recommendations comply with a strict set of criteria to ensure they provide
                the most value to most people, and provide the best balance of privacy, security, and convenience.
              </p>
            </div>
          </li>
          <li class="mdx-expect__item md-typeset">
            <div class="mdx-expect__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.56 18H3.44C2.65 18 2 17.37 2 16.59V7.41C2 6.63 2.65 6 3.44 6h17.12c.79 0 1.44.63 1.44 1.41v9.18c0 .78-.65 1.41-1.44 1.41M6.81 15.19v-3.66l1.92 2.35 1.92-2.35v3.66h1.93V8.81h-1.93l-1.92 2.35-1.92-2.35H4.89v6.38zM19.69 12h-1.92V8.81h-1.92V12h-1.93l2.89 3.28z"></path></svg>
            </div>
            <div class="mdx-expect__description">
              <h2>Privacy: It's a human right</h2>
              <p>
                Much like the right to interracial marriage, woman's suffrage, freedom of speech, and many others,
                our right to privacy hasn't always been upheld. In several dictatorships, it still isn't.
                Generations before ours fought for our right to privacy. Privacy is a human right,
                inherent to all of us, that we are entitled to (without discrimination).
              </p>
            </div>
          </li>
          <li class="mdx-expect__item md-typeset">
            <div class="mdx-expect__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.56 18H3.44C2.65 18 2 17.37 2 16.59V7.41C2 6.63 2.65 6 3.44 6h17.12c.79 0 1.44.63 1.44 1.41v9.18c0 .78-.65 1.41-1.44 1.41M6.81 15.19v-3.66l1.92 2.35 1.92-2.35v3.66h1.93V8.81h-1.93l-1.92 2.35-1.92-2.35H4.89v6.38zM19.69 12h-1.92V8.81h-1.92V12h-1.93l2.89 3.28z"></path></svg>
            </div>
            <div class="mdx-expect__description">
              <h2>Activism &amp; Awareness</h2>
              <p>
                In the modern age of digital data exploitation, your privacy has never been more critical,
                yet many believe it is already a lost cause. It is not. Your privacy is up for grabs,
                and you need to care about it. Privacy is about power, and it is so important that this power ends up in the right hands.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
