<section class="mdx-parallax__group" data-md-color-scheme="slate" data-md-color-primary="indigo">
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner">
      <header class="md-typeset">
        <h2>
          What are we about?
        </h2>
      </header>
      <div class="mdx-expect">
        <ul class="mdx-expect__list">
          <li class="mdx-expect__item md-typeset">
            <div class="mdx-expect__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 3c-1.11 0-2 .89-2 2v10a2 2 0 0 0 2 2h8v5l3-3 3 3v-5h2a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H4m8 2 3 2 3-2v3.5l3 1.5-3 1.5V15l-3-2-3 2v-3.5L9 10l3-1.5zM4 5h5v2H4zm0 4h3v2H4zm0 4h5v2H4z"/></svg>
            </div>
            <div class="mdx-expect__description">
              <h2>Trustworthy Reviews</h2>
              <p>
                As a non-profit project, Privacy Guides has strict journalistic standards and policies to ensure
                our recommendations are free of conflicts of interest, and we do not partner with providers or
                affiliate programs that could sway our reviews and recommendations.
              </p>
            </div>
          </li>
          <li class="mdx-expect__item md-typeset">
            <div class="mdx-expect__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.5 12A2.5 2.5 0 0 0 19 9.5 2.5 2.5 0 0 0 16.5 7 2.5 2.5 0 0 0 14 9.5a2.5 2.5 0 0 0 2.5 2.5M9 11a3 3 0 0 0 3-3 3 3 0 0 0-3-3 3 3 0 0 0-3 3 3 3 0 0 0 3 3m7.5 3c-1.83 0-5.5.92-5.5 2.75V19h11v-2.25c0-1.83-3.67-2.75-5.5-2.75M9 13c-2.33 0-7 1.17-7 3.5V19h7v-2.25c0-.85.33-2.34 2.37-3.47C10.5 13.1 9.66 13 9 13"/></svg>
            </div>
            <div class="mdx-expect__description">
              <h2>Community-Built</h2>
              <p>
                Privacy Guides has a dedicated community independently reviewing various privacy tools and services.
                Each of our recommendations comply with a strict set of criteria to ensure they provide
                the most value to most people, and provide the best balance of privacy, security, and convenience.
              </p>
            </div>
          </li>
          <li class="mdx-expect__item md-typeset">
            <div class="mdx-expect__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.83 9 15 12.16V12a3 3 0 0 0-3-3zm-4.3.8 1.55 1.55c-.05.21-.08.42-.08.65a3 3 0 0 0 3 3c.22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53a5 5 0 0 1-5-5c0-.79.2-1.53.53-2.2M2 4.27l2.28 2.28.45.45C3.08 8.3 1.78 10 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.43.42L19.73 22 21 20.73 3.27 3M12 7a5 5 0 0 1 5 5c0 .64-.13 1.26-.36 1.82l2.93 2.93c1.5-1.25 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-4 .7l2.17 2.15C10.74 7.13 11.35 7 12 7"/></svg>            </div>
            <div class="mdx-expect__description">
              <h2>Privacy: It's a human right</h2>
              <p>
                Much like the right to interracial marriage, woman's suffrage, freedom of speech, and many others,
                our right to privacy hasn't always been upheld. In several dictatorships, it still isn't.
                Generations before ours fought for our right to privacy. Privacy is a human right,
                inherent to all of us, that we are entitled to (without discrimination).
              </p>
            </div>
          </li>
          <li class="mdx-expect__item md-typeset">
            <div class="mdx-expect__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16 4c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2m4 18v-6h2.5L20 8.4c-.3-.8-1-1.4-1.9-1.4H18c-.9 0-1.6.6-1.9 1.4l-.9 2.6c1.1.6 1.8 1.7 1.8 3.1V22zm-7.5-10.5c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5S11 9.2 11 10s.7 1.5 1.5 1.5M5.5 6c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2m2 16v-7H9V9c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v6h1.5v7zm6.5 0v-4h1v-4c0-.8-.7-1.5-1.5-1.5h-2c-.8 0-1.5.7-1.5 1.5v4h1v4z"/></svg>
            </div>
            <div class="mdx-expect__description">
              <h2>Activism &amp; Awareness</h2>
              <p>
                In the modern age of digital data exploitation, your privacy has never been more critical,
                yet many believe it is already a lost cause. It is not. Your privacy is up for grabs,
                and you need to care about it. Privacy is about power, and it is so important that this power ends up in the right hands.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
