<section class="mdx-parallax__group mdx-video-spotlight">
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner">
      <div class="mdx-spotlight">
        {{#get "tags" filter="slug:videos"}}
          {{#foreach tags}}
            {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit="2"}}
              {{#foreach posts}}
                {{> "components/video-spotlight-figure"}}
              {{/foreach}}
            {{/get}}
          {{/foreach}}
        {{/get}}
      </div>
    </div>
  </div>
</section>
