<div class="md-sidebar md-sidebar--primary{{#if hide-desktop}} pg-hide-desktop{{/if}}{{#if hide-mobile}} pg-hide-mobile{{/if}}" data-md-component="sidebar" data-md-type="navigation">
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      {{navigation type="secondary"}}
    </div>
  </div>
</div>
